extends layout

block content
  div.maintext 
    
    div#IdAndName

      h3 Pokémon Name: #{pokemon_name}

      h3 National Pokédex: ##{pokemon_id}

    <br>
      
    p 
      |#[strong Pokémon Ultra Sun]
      |<br>
      |<br>
      |<span class="underline">Obtainable in-game</span>: <strong> #{ultra_sun} </strong>
      |<br>
      |<span class ="underline">Method</span>: #{ultra_sun_method}
    p 
      |#[strong Pokémon Ultra Moon]
      |<br>
      |<br>
      |<span class="underline">Obtainable in-game</span>: <strong> #{ultra_moon} </strong>
      |<br>
      |<span class ="underline">Method</span>: #{ultra_moon_method}
    p 
      |#[strong Pokémon Sun]
      |<br>
      |<br>
      |<span class="underline">Obtainable in-game</span>: <strong> #{sun} </strong>
      |<br>
      |<span class ="underline">Method</span>: #{sun_method}
    p 
      |#[strong Pokémon Moon]
      |<br>
      |<br>
      |<span class="underline">Obtainable in-game</span>: <strong> #{moon} </strong>
      |<br>
      |<span class ="underline">Method</span>: #{moon_method}
    p 
      |#[strong Pokémon Alpha Sapphire]
      |<br>
      |<br>
      |<span class="underline">Obtainable in-game</span>: <strong> #{alpha_sapphire} </strong>
      |<br>
      |<span class ="underline">Method</span>: #{alpha_sapphire_method}
    p 
      |#[strong Pokémon Omega Ruby]
      |<br>
      |<br>
      |<span class="underline">Obtainable in-game</span>: <strong> #{omega_ruby} </strong>
      |<br>
      |<span class ="underline">Method</span>: #{omega_ruby_method}
    P
      |#[strong Friend Safari]
      |<br>
      |<br>
      |<span class="underline">Obtainable in Friend Safari</span>: <strong> #{friend_safari} </strong>
      |<br>
      |<span class ="underline">Method</span>: #{friend_safari_method}
    p 
      |#[strong Pokémon X]
      |<br>
      |<br>
      |<span class="underline">Obtainable in-game</span>: <strong> #{x} </strong>
      |<br>
      |<span class ="underline">Method</span>: #{x_method}
    p 
      |#[strong Pokémon Y]
      |<br>
      |<br>
      |<span class="underline">Obtainable in-game</span>: <strong> #{y} </strong>
      |<br>
      |<span class ="underline">Method</span>: #{y_method}
    p 
      |#[strong Pokémon Black 2]
      |<br>
      |<br>
      |<span class="underline">Obtainable in-game</span>: <strong> #{black_2} </strong>
      |<br>
      |<span class ="underline">Method</span>: #{black_2_method}
    p 
      |#[strong Pokémon White 2]
      |<br>
      |<br>
      |<span class="underline">Obtainable in-game</span>: <strong> #{x} </strong>
      |<br>
      |<span class ="underline">Method</span>: #{White_2_method}
    p 
      |#[strong Pokémon Black]
      |<br>
      |<br>
      |<span class="underline">Obtainable in-game</span>: <strong> #{black} </strong>
      |<br>
      |<span class ="underline">Method</span>: #{black_method}
    p 
      |#[strong Pokémon White]
      |<br>
      |<br>
      |<span class="underline">Obtainable in-game</span>: <strong> #{white} </strong>
      |<br>
      |<span class ="underline">Method</span>: #{white_method}
    p 
      |#[strong HeartGold]
      |<br>
      |<br>
      |<span class="underline">Obtainable in-game</span>: <strong> #{heartgold} </strong>
      |<br>
      |<span class ="underline">Method</span>: #{heartgold_method}
    p 
      |#[strong Pokémon SoulSilver]
      |<br>
      |<br>
      |<span class="underline">Obtainable in-game</span>: <strong> #{soulsilver} </strong>
      |<br>
      |<span class ="underline">Method</span>: #{soulsilver_method}
    p 
      |#[strong The Pokéwalker]
      |<br>
      |<br>
      |<span class="underline">Obtainable in-game</span>: <strong> #{x} </strong>
      |<br>
      |<span class ="underline">Method</span>: #{x_method}
    p 
      |#[strong Pokémon Diamond]
      |<br>
      |<br>
      |<span class="underline">Obtainable in-game</span>: <strong> #{diamond} </strong>
      |<br>
      |<span class ="underline">Method</span>: #{diamond_method}
    p 
      |#[strong Pokémon Pearl]
      |<br>
      |<br>
      |<span class="underline">Obtainable in-game</span>: <strong> #{pearl} </strong>
      |<br>
      |<span class ="underline">Method</span>: #{pearl_method}
    p 
      |#[strong Pokémon Platinum]
      |<br>
      |<br>
      |<span class="underline">Obtainable in-game</span>: <strong> #{platinum} </strong>
      |<br>
      |<span class ="underline">Method</span>: #{platinum_method}
    p 
      |#[strong Pokémon FireRed]
      |<br>
      |<br>
      |<span class="underline">Obtainable in-game</span>: <strong> #{firered} </strong>
      |<br>
      |<span class ="underline">Method</span>: #{firered_method}
    p 
      |#[strong Pokémon LeafGreen]
      |<br>
      |<br>
      |<span class="underline">Obtainable in-game</span>: <strong> #{leafgreen} </strong>
      |<br>
      |<span class ="underline">Method</span>: #{leafgreen_method}
    p 
      |#[strong Pokémon Ruby]
      |<br>
      |<br>
      |<span class="underline">Obtainable in-game</span>: <strong> #{ruby} </strong>
      |<br>
      |<span class ="underline">Method</span>: #{ruby_method}
    p 
      |#[strong Pokémon Sapphire]
      |<br>
      |<br>
      |<span class="underline">Obtainable in-game</span>: <strong> #{sapphire} </strong>
      |<br>
      |<span class ="underline">Method</span>: #{sapphire_method}
    p 
      |#[strong Pokémon Emerald]
      |<br>
      |<br>
      |<span class="underline">Obtainable in-game</span>: <strong> #{emerald} </strong>
      |<br>
      |<span class ="underline">Method</span>: #{emerald_method}
    p 
      |#[strong Pokémon Gold]
      |<br>
      |<br>
      |<span class="underline">Obtainable in-game</span>: <strong> #{gold} </strong>
      |<br>
      |<span class ="underline">Method</span>: #{gold_method}
    p 
      |#[strong Pokémon Silver]
      |<br>
      |<br>
      |<span class="underline">Obtainable in-game</span>: <strong> #{silver} </strong>
      |<br>
      |<span class ="underline">Method</span>: #{silver_method}
    p 
      |#[strong Pokémon Crystal (3DS Virtual Console)]
      |<br>
      |<br>
      |<span class="underline">Obtainable in-game</span>: <strong> #{crystal3ds} </strong>
      |<br>
      |<span class ="underline">Method</span>: #{crystal3ds_method}
    p 
      |#[strong Pokémon Crystal (Gameboy)]
      |<br>
      |<br>
      |<span class="underline">Obtainable in-game</span>: <strong> #{crystal} </strong>
      |<br>
      |<span class ="underline">Method</span>: #{crystal_method}
    p 
      |#[strong Pokémon Red]
      |<br>
      |<br>
      |<span class="underline">Obtainable in-game</span>: <strong> #{red} </strong>
      |<br>
      |<span class ="underline">Method</span>: #{red_method}
    p 
      |#[strong Pokémon Blue (American Release)]
      |<br>
      |<br>
      |<span class="underline">Obtainable in-game</span>: <strong> #{blue} </strong>
      |<br>
      |<span class ="underline">Method</span>: #{blue_method}
    p 
      |#[strong Pokémon Yellow: Special Pikachu Edition]
      |<br>
      |<br>
      |<span class="underline">Obtainable in-game</span>: <strong> #{yellow} </strong>
      |<br>
      |<span class ="underline">Method</span>: #{yellow_method}
    
    
