extends layout

block content
  div.maintext 
    h1.underline= title

    if pokemon_count > 0
      p.results Based on the games you selected you are #[em able] to obtain <span class= 'bold'> #{806 -15 - pokemon_count} </span> out of 806 total Pokémon
      p.results You are #[em unable] to obtain <span class='bold'> #{pokemon_count} </span> Pokémon through in-game means, that can be obtained in other games.
      p.results Additionally there are currently 15 event only Pokémon that cannot be obtained outside of official Nintendo events.

      h3 Here is a list of games that we recommend to help you complete your journey to catch'em all:

      ol#recommendations
        unless ultra_sun_rec == 'no' || ultra_sun_rec == 0
          li Pokémon Ultra Sun: #{'   ' + ultra_sun_rec} New Pokémon
        unless ultra_moon_rec == 'no' || ultra_moon_rec == 0
          li Pokémon Ultra Moon: #{ultra_moon_rec} New Pokémon
        unless omega_ruby_rec == 'no' || alpha_sapphire_rec == 'no' || omega_ruby_rec == 0
          li Pokémon Omega Ruby: #{omega_ruby_rec} New Pokémon
        unless alpha_sapphire_rec == 'no' || omega_ruby_rec == 'no' || alpha_sapphire_rec == 0
          li Pokémon Alpha Sapphire: #{alpha_sapphire_rec} New Pokémon
        unless x_rec == 'no' || x_rec == 0
          li Pokémon X: #{x_rec} New Pokémon
        unless y_rec == 'no' || y_rec == 0
          li Pokémon Y: #{y_rec} New Pokémon
        unless crystal_3ds_rec == 'no' || crystal_3ds_rec == 0
          li Pokémon Crystal (3DS Virtual Console): #{crystal_3ds_rec} New Pokémon

      h3 List of Missing Pokémon
      img#bulbasaur(src = '../images/bulbasaur.png', alt = 'A picture of Bulbasaur, Ivysaur, and Venosaur')

      each val, key in pokemon
        p #{key}. 
          a(href='/search/' + key) #{val}
    else
      h3 Congratulations! You are currently able to catch all Pokémon in-game, that are not one of the 15 event only Pokémon.
      img#happyPikachu(src='../images/happy_pikachu.png', alt = 'A picture of a happy Pikachu with hearts')


    
    h3 List of Event Only Pokémon
    p The following Pokémon cannot be obtained through normal means. The only way to get one is through trade, or through an official Pokémon event.
    img#mew(src = '../images/mew.png', alt = 'Picture of Mew')
    each val, key in event_pokemon
      p #{key}. 
        a(href='/search/' + key) #{val}

